* {
    margin: 0;
    padding: 0;
    font-family: 'Spoqa Han Sans', sans-serif;
    box-sizing: border-box;
    font-size: 1rem;
  }

  html {
    overflow-y: scroll;
    height: 100%;
    overflow-x: hidden !important;
    -webkit-text-size-adjust: none; }
  
  body {
    background-color: black;
    -webkit-transition: background-color 300ms ease;
    -o-transition: background-color 300ms ease;
    transition: background-color 300ms ease;
    min-height: 100%;
    margin: 0; 
    color: white;
  }

  a {
    outline: 0 !important;
    text-decoration: none; 
  }
    
  nav {
    z-index: 20;
    position: fixed;
    bottom: 0;
    color: white;
    background: black;
    width: 100vw;
    justify-content: center;
  }

  nav ul {
    float:right;
    padding-right: 1%;
  }

  nav ul li {
    display: inline-block;  
    padding-bottom: 0.6rem; 
    padding-top: 0.3rem; 
  }

  nav ul li:first-child { 
    position:fixed;
    bottom:0;
    left:1.5%;
  }

  nav > ul > li::after {
    padding-right: 1rem; 
    content: ""
  }

  nav > ul > li:last-child::after {
    padding-right: 0rem; 
    content: "";
  }

  nav li a{
    color: white;
  }

  nav li a:hover{
    opacity: 0.7;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(3, 33.33333333333vw);
    grid-template-rows: repeat(3, auto);
    grid-gap: 0;
  }

  .item {
    position: relative;
    overflow: hidden;
    height: 100%;
    margin-bottom: -5px;
  }

  .img_box > img{
    width: 100%;
    height: inherit;
  }

  .item_text {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
  }

  .item_redbox {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:orange;
  }

  .item:hover .item_redbox {
    opacity: 0.8;
  }


  .item:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .item:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .item:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  .item:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .item:nth-child(5) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .item:nth-child(6) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }

  .item:nth-child(7) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .item:nth-child(8) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .item:nth-child(9) {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }

  @media (min-width: 1281px) {

  }
  /*
     ##Device=Laptops, Desktops
     ##Screen=B/w 1025px to 1280px
     ##Device=랩탑, 데스크탑
     ##Screen=1025px에서 1280px 사이
     */
  
  @media (min-width: 1025px) and (max-width: 1280px) {

  }
  /*
     ##Device=Tablets, Ipads (portrait),
     ##Screen=B/w 768px to 1024px
     ##Device=태블릿, 아이패드(세로),
     ##Screen=768px에서 1024px 사이
     */
  
  @media (min-width: 768px) and (max-width: 1024px) {

  }
  /*
     ##Device=Tablets, Ipads (landscape)
     ##Screen=B/w 768px to 1024px
     ##Device=태블릿, 아이패드(가로)
     ##Screen=768px에서 1024px 사이
     */
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .container {
      display: grid;
      grid-template-columns: repeat(2, 50vw);
      grid-template-rows: repeat(2, auto);
      grid-gap: 0;
    }

    .item:nth-child(1) {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
  
    .item:nth-child(2) {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
  
    .item:nth-child(3) {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
  
    .item:nth-child(4) {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
  
    .item:nth-child(5) {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }
  
    .item:nth-child(6) {
      grid-column: 2 / 3;
      grid-row: 3 / 4;
    }
  
    .item:nth-child(7) {
      grid-column: 1 / 2;
      grid-row: 4 / 5;
    }
  
    .item:nth-child(8) {
      grid-column: 2 / 3;
      grid-row: 4 / 5;
    }
  
    .item:nth-child(9) {
      grid-column: 1 / 2;
      grid-row: 5 / 6;
    }
  }
  /*
     ##Device=Low Resolution Tablets, Mobiles (Landscape)
     ##Screen=B/w 481px to 767px
     ##Device=저해상도 태블릿, 모바일(가로)
     ##Screen=481px에서 767px 사이
     */
  @media (min-width: 570px) and (max-width: 767px) {
    .menu {
      font-size: 0.8rem;
    }

    .container {
      display: grid;
      grid-template-columns: repeat(1, 100vw);
      grid-template-rows: repeat(1, auto);
      grid-gap: 0;
    }

    .item:nth-child(1) {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
  
    .item:nth-child(2) {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
  
    .item:nth-child(3) {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }
  
    .item:nth-child(4) {
      grid-column: 1 / 2;
      grid-row: 4 / 5;
    }
  
    .item:nth-child(5) {
      grid-column: 1 / 2;
      grid-row: 5 / 6;
    }
  
    .item:nth-child(6) {
      grid-column: 1 / 2;
      grid-row: 6 / 7;
    }
  
    .item:nth-child(7) {
      grid-column: 1 / 2;
      grid-row: 7 / 8;
    }
  
    .item:nth-child(8) {
      grid-column: 1 / 2;
      grid-row: 8 / 9;
    }
  
    .item:nth-child(9) {
      grid-column: 1 / 2;
      grid-row: 9 / 10;
    }
  }

  @media (min-width: 200px) and (max-width: 570px) {
    .menu {
      font-size: 0.6rem;
    }

    .container {
      display: grid;
      grid-template-columns: repeat(1, 100vw);
      grid-template-rows: repeat(1, auto);
      grid-gap: 0;
    }

    .item:nth-child(1) {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
  
    .item:nth-child(2) {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
  
    .item:nth-child(3) {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }
  
    .item:nth-child(4) {
      grid-column: 1 / 2;
      grid-row: 4 / 5;
    }
  
    .item:nth-child(5) {
      grid-column: 1 / 2;
      grid-row: 5 / 6;
    }
  
    .item:nth-child(6) {
      grid-column: 1 / 2;
      grid-row: 6 / 7;
    }
  
    .item:nth-child(7) {
      grid-column: 1 / 2;
      grid-row: 7 / 8;
    }
  
    .item:nth-child(8) {
      grid-column: 1 / 2;
      grid-row: 8 / 9;
    }
  
    .item:nth-child(9) {
      grid-column: 1 / 2;
      grid-row: 9 / 10;
    }
      nav > ul > li::after {
    padding-right: 0.5rem; 
    content: ""
  }

  nav > ul > li:last-child::after {
    padding-right: 0rem; 
    content: "";
  }
      
  }

  /*
     ##Device=Most of the Smartphones Mobiles (Portrait)
     ##Screen=B/w 320px to 479px
     ##Device=대부분의 스마트폰 모바일 기기(세로)
     ##Screen=320px에서 479px 사이
     */
 
